body {
  background-color: rgb(116, 75, 65);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Textalign {
  display: flex;
  text-align: center;
  justify-content: center;
  color: whitesmoke;
}

.color {
  margin: 10px;
  padding: 10px;
  background-color: rgb(88, 57, 49);
}

.buttoncolor1 {
  background-color: rgb(65, 42, 36);
  color: burlywood;
}

.buttoncolor2 {
  background-color: rgb(65, 42, 36);
  color: aqua;
}

.buttonx {
  font-weight: 900;
  font-size: 14px;
  color: #3bd6d4;
  background-color: rgb(65, 42, 36);
  padding: 30px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 0px 1px 1px;
  transition: 151ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  width: auto;
}

.buttono {
  font-weight: 900;
  font-size: 14px;
  color: #d2e666;
  background-color: rgb(65, 42, 36);
  padding: 30px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 0px 1px 1px;
  transition: 151ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  width: auto;
}

.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.boardstyle {
  flex: 1 1 auto;
  display: grid;
  grid-template: repeat(3, min-content) / repeat(3, min-content);
  justify-content: center;
  align-content: center;
  min-width: 490px;
}
.initialmenu {
  background-color: rgb(78, 50, 44);
}
