/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
  background-color: rgb(116, 75, 65);
}
.Textalign {
  display: flex;
  justify-content: center;
  color: whitesmoke;
}
.color {
  margin: 10px;
  padding: 10px;
  background-color: rgb(88, 57, 49);
}
.buttoncolor1 {
  background-color: rgb(65, 42, 36);
  color: burlywood;
}
.buttoncolor2 {
  background-color: rgb(65, 42, 36);
  color: aqua;
}
.buttonx {
  font-weight: 900;
  font-size: 14px;
  color: #3bd6d4;
  background-color: rgb(65, 42, 36);
  padding: 30px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 0px 1px 1px;
  transition: 151ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}
.buttono {
  font-weight: 900;
  font-size: 14px;
  color: #d2e666;
  background-color: rgb(65, 42, 36);
  padding: 30px 30px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 0px 1px 1px;
  transition: 151ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}
